:root {
  /* theme colors */
  --primary-color: #8cad2b;
  --primary-hover: #7a9925;
  --primary-light: #eef7d4;
  --secondary-color: #eefbf2;
  --border-color: #d6d6d6;

  --secondary-color: #d3d7da;

  /* background */

  --bg-color: #ffffff;
  --surface-color: #ffffff;

  /* text */

  --text-color: #000000;
  --text-secondary: #6b7280;
  /* border */

  --border-color: #d1d5db;
  /* status */

  --success-color: #22c55e;
  --error-color: #ef4444;
}

/* dark mode */
.dark {
  --bg-color: #111827;
  --text-color: #ffffff;
  --surface-color: #1f2937;
  --text-secondary: #d1d5db;
}

.theme-blue {
  --primary-color: #3b83f6;
  --primary-hover: #2563eb;
  --primary-light: #dbeafe;
}
.theme-orange {
  --primary-color: #f97316;
  --primary-hover: #ea580c;
  --primary-light: #ffedd5;
}

.theme-red {
  --primary-color: #dc2626;
  --primary-hover: #b91c1c;
  --primary-light: #fee2e2;
}
.theme-green {
  --primary-color: #22c55e;
  --primary-hover: #16a34a;
  --primary-light: #dcfce7;
}
.theme-pink {
  --primary-color: #ec4899;
  --primary-hover: #db2777;
  --primary-light: #fce7f3;
}
.theme-amber {
  --primary-color: #f59e0b;
  --primary-hover: #d97706;
  --primary-light: #fef3c7;
}
.theme-slate {
  --primary-color: #475569;
  --primary-hover: #334155;
  --primary-light: #e2e8f0;
}
.theme-purple {
  --primary-color: #a855f7;
  --primary-hover: #9333ea;
  --primary-light: #f3e8ff;
}
.theme-cyan {
  --primary-color: #06b6d4;
  --primary-hover: #0891b2;
  --primary-light: #cffafe;
}
.theme-black {
  --primary-color: #000000;
  --primary-hover: #262626;
  --primary-light: #e5e5e5;
}
.theme-green2 {
  --primary-color: #8cad2b;
  --primary-hover: #7a9925;
  --primary-light: #eef7d4;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.2s ease;
}

.btn-primary:hover {
  background: var(--primary-hover);
}

/* utilities */

.text-primary {
  color: var(--primary-color);
}

.input-theme {
  border: 1px solid var(--border-color);
  transition: 0.2s;
}
.input-theme:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(140, 173, 43, 0.568);
}

.border-primary {
  border-color: var(--primary-color);
}
.bg-primary-light {
  background: var(--primary-light);
}
.dot-primary {
  background: var(--primary-color);
}

.sidebar-active {
  color: var(--primary-color);
}

.heading {
  color: var(--primary-color);
}

.success-message {
  color: var(--primary-color);
  background: var(--secondary-color);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.otp-input {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid var(--border-color);
  border: 8px;
  transition: all 0.2s ease;
}

.otp-input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(140, 173, 43, 0.25);
}
