:root {
  --primary-color: #3b83f6;
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #111827;
  --text-color: #ffffff;
}

.theme-blue {
  --primary-color: #3b83f6;
}
.theme-orange {
  --primary-color: #f56c0a;
}

.theme-red {
  --primary-color: #d30d0d;
}
.theme-green {
  --primary-color: #87f36f;
}
.theme-pink {
  --primary-color: #ff98cc;
}
.theme-amber {
  --primary-color: #fc9f00;
}
.theme-slate {
  --primary-color: #475569;
}
.theme-purple {
  --primary-color: #c081fb;
}
.theme-cyan {
  --primary-color: #00c9bf;
}
.theme-black {
  --primary-color: #000000;
}
.theme-green2 {
  --primary-color: #8cad2b;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}
.sidebar-active {
  color: var(--primary-color);
}

.heading {
  color: var(--primary-color);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
